body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f7f9;
    color: #333;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #007bff; 
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.filter-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

.filter-button {
    padding: 10px 15px;
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


.calendar-container {
    padding: 20px 50px;
}

.current-view-title {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5em;
}


.navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.navigation-bar button {
    background: none;
    border: 1px solid #ccc;
    padding: 8px 15px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation-bar button:hover {
    background-color: #e9ecef;
}

.navigation-bar span {
    font-weight: bold;
    font-size: 1.1em;
}
.rva-week-day-date-divider{
  width: 1200px;
  height: 3px;
  background-color:aquamarine;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}


.schedule-table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    overflow: hidden; 
}

.schedule-table th, .schedule-table td {
    padding: 15px 10px;
    text-align: center;
    border-radius: 5px; 
    font-size: 0.95em;
    font-weight: bold;
}


.schedule-table th {
    background-color: #007bff;
    color: white;
    border-bottom: 2px solid #0056b3;
}


.schedule-table td:first-child {
    background-color: #f8f9fa; 
    color: #333;
    font-weight: bold;
}


.status-free {
    background-color: #d4edda; 
    color: #155724;
    cursor: pointer;
    transition: background-color 0.2s;
}

.status-free:hover {
    background-color: #c3e6cb; 
    outline: 2px solid #28a745;
}
.status-free:visited {
  background-color: #f8d7da; 
    color: #721c24;
    font-weight: 500;
}


.status-reserved {
    background-color: #f8d7da; 
    color: #721c24;
    font-weight: 500;
}


.status-blocked {
    background-color: #fff3cd; 
    color: #856404;
    font-style: italic;
}


.legenda {
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.legenda h4 {
    margin-top: 0;
    color: #007bff;
}

.status-legenda {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
}
span {

}